.formContainer {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;  
  min-height: calc(100vh - 95px); 
  padding-top: 5%; 
  max-width: 535px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form{
  width:535px;
  justify-content: center;
}

.title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 39.06px;
  font-weight: 900;
  line-height: 51.68px;
  text-align: center;
  width: 100%; 
  height: 52px;
  margin-bottom: 20px;

}

.inputContainer {
  width: 100%;
  margin-top: 37px;
  margin-bottom: 3px;
}

.inputLabel {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: block; /* Asegura que el label tome todo el ancho del contenedor */
}

.inputField {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background: rgba(251, 238, 255, 1);
  margin-top: 5px; /* Espacio entre el label y el input */
}

.submitButton {
  width: 263px;
  height: 58.12px;
  background: rgba(147, 120, 255, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(147, 120, 255, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 47px;
  margin-left: 145px;
  align-items: center;
}

.errorText {
  color: red;
}


/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .formContainer {
    max-width: 768px;
  }

  .inputField, .submitButton {
    width: 100%;
    max-width: 500px; /* Ajusta el ancho máximo para pantallas de tablet */
  }

  .submitButton {
    margin-left: 130px;
    margin-right: auto;
    width: 50%; /* Hace el botón la mitad del ancho disponible */
  }
}

@media (min-width: 1024px) {
  .formContainer {
    max-width: 1024px;
    padding-top: 1%;
  }

  .inputField, .submitButton {
    max-width: 800px; /* Ajusta el ancho máximo para pantallas de escritorio */
  }

  .submitButton {
    width: 50%; 
    margin-left: 140px;
  }
}

/* Media queries para pantallas más pequeñas (celulares) */
@media (max-width: 767px) {
  .formContainer {
    padding-top: 1%;
    width: 300px; 

  }

  .title {
    font-size: 32px; /* Reduce el tamaño del título */
  }

  .inputField, .submitButton {
    width: 300px; /* Utiliza todo el ancho disponible */
    max-width: 90%; /* Limita el ancho al 90% del contenedor */
    margin-left: auto;
    margin-right: auto;
  }
  .inputLabel{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .submitButton {
    margin-top: 20px; 
    width: 120px;
    margin-left: 220px;
    margin-right: auto;
    
  }
}