.button-container{
    margin-left: 0;
}

.btn-add {
    width: 263px;
    height: 58.12px;
    background: rgba(147, 120, 255, 1);
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(147, 120, 255, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
}

@media (max-width: 700px) {
    .btn-add{
        width: 163px;
    }
}