.container {
    margin-left: 76px;
    margin-top: 45px;
}

.ledger {
    width: 1360px;
    height: 278px;
    border: 1px solid rgba(251, 238, 255, 1);
    background: rgba(235, 235, 235, 1);
    border-radius: 16px;
}

.upload-icon-container {
    width: 20px;
    height: 20px;
    margin-top: 240px;
    margin-left: 1321px;
}

.contact-info {
    margin-top: -144px;
    margin-left: 572px;
    width: 186px;  /* Ancho ajustado a 186px */
    height: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image-container {
    width: 186px;  /* Diámetro de la imagen ajustado a 186px */
    height: 186px;  /* Diámetro de la imagen ajustado a 186px */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #fff; /* Añadir un borde blanco para que se vea bien en el fondo */
}

.contact-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-details {
    text-align: center;
}

.contact-name {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 51.68px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(18, 14, 33, 1); /* Asumiendo que el texto debe ser blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; 
}

.contact-position {
    font-size: 18px;
    color: #8888889e;
}
