.card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .row-cols-1 .row-cols-md-3 .g-4 {
    width: 100%;
}
  
.grid-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.container-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
.card-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
  