/* Estilos CSS */
.card-container {
    width: 100%; /* Ajustar el ancho al 100% para que se expanda horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.grid-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}
  