.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-title {
    width: 172px;
    height: 52px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 39.06px;
    font-weight: 900;
    line-height: 51.68px;
    letter-spacing: -0.01em;
    text-align: left; /* Alinea el título a la izquierda */
    color: rgba(18, 14, 33, 1);
    margin-bottom: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 100%;
}

.search-icon {
    background-color: transparent;
    height: 25px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    width: 46px;
}

.search-input {
    border: 0;
    border-left: 1px solid rgba(153, 135, 157, 1);
    height: 25px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 20px 100px; /* Márgenes de 100px en los lados cuando la pantalla es más grande que 768px */
    }
}